body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.homepage-wrapper {
  min-height: 100vh;
  background: #44d9e6;
}

@media screen and (max-width: 1024px) {
  img{
    width: 100%;
  }
}

@media screen and (min-width: 1200px){
  .homepage-wrapper {
    min-height: 100vh;
    background: linear-gradient(90deg, #fff 50%, #44d9e6 50%);
  }

  .homepage-wrapper .instruction {
    padding: 0 100px;
  }
}

input {
  margin: 10px !important;
  border-radius: 5px;
  border: none;
}

input:focus{
  outline: none;
}

.btn-primary {
  background-color: #44d9e6 !important;
  border: 1px solid #fff !important;
  transition: ease-in-out 2s;
  margin: 0 10px;
}
.btn-primary:hover {
  background-color: #fff !important;
  color: #44d9e6 !important;
  transform: scale(1.2, 1.2);
}